.pieza_dental { /* puede ser diente, muela, premolar, etc.*/
  position: static; /* Establece la posición del elemento */
  width: 65px; /* Ancho del elemento */
  height: 85px; /* Altura automática del elemento */
  display: inline-block; /* Muestra el elemento como un bloque en línea */
}

.plano_lateral, .cara_incisal {
  background-color: #FFFFFF; /* Color de fondo */
  border: 1px solid #7F7F7F; /* Borde del elemento */
  position: relative; /* Establece la posición del elemento */
}

.vestibular_superior, .vestibular_inferior, .lingual, .palatina { /* figuras superiores e inferiores*/
  left: 23px !important; /* Posición izquierda del elemento */
  width: 20px; /* Ancho del elemento */
  height: 15px; /* Altura del elemento */
}

.mesial_en_cuadrante_2, .mesial_en_cuadrante_3, .distal_en_cuadrante_1, .distal_en_cuadrante_4, 
.mesial_en_cuadrante_1, .mesial_en_cuadrante_4, .distal_en_cuadrante_2, .distal_en_cuadrante_3 { /* figuras lado derecho y lado izquierdo*/
  width: 15px; /* Ancho del elemento */
  height: 20px; /* Altura del elemento */
}

.vestibular_superior, .lingual { /* figuras superiores */
  border-radius: 5px 5px 0px 0px; /* Bordes redondeados */
}

.mesial_en_cuadrante_2, .mesial_en_cuadrante_3, .distal_en_cuadrante_1, .distal_en_cuadrante_4 { /* figuras lado izquierdo */
  bottom: 1px;
  left: 9px !important; /* Posición izquierda del elemento */
  border-radius: 5px 0px 0px 5px; /* Bordes redondeados */
}

.palatina, .vestibular_inferior { /* figuras inferiores */
  bottom: 2px;
  border-radius: 0px 0px 5px 5px; /* Bordes redondeados */
}

.mesial_en_cuadrante_1, .mesial_en_cuadrante_4, .distal_en_cuadrante_2, .distal_en_cuadrante_3 { /* figuras lado derecho */
  bottom: 36px !important; /* Posición superior del elemento */
  left: 42px !important; /* Posición izquierda del elemento */
  border-radius: 0px 5px 5px 0px; /* Bordes redondeados */
}

.cara_incisal {
  width: 24px; /* Ancho del elemento */
  height: 24px; /* Altura del elemento */
  bottom: 58px; /* Posición superior del elemento */
  left: 21px; /* Posición izquierda del elemento */
  border-radius: 10px; /* Bordes redondeados */
}

.plano_lateral:hover, .cara_incisal:hover {
  border: 1px solid rgb(34, 155, 84); /* Borde del elemento */  
  cursor: pointer; /* Cambiar el cursor al puntero */
  transition: transform 0.2s; /* Transición suave para transformación*/
  background-color: #e4e2e2; /* gris bien claro */
  transform: scale(1.15); /* crece 15 % */
  z-index: 1; /* Aumenta el valor z-index para superponerse */
}

.numero_etiqueta {
  margin-left: 23px;
  display: inline-block !important;
  border-radius: 10px !important;
  color: #fff;
  background-color: #17a2b8;
  padding: 0.25em 0.4em;
  font-size: 70%;
  font-weight: 600;
  line-height: 0.5;
}

.cuadrante_1, .cuadrante_2, .cuadrante_4, .cuadrante_3 {
  background-color: #f07f53;
  width: 550px;
  overflow-x: auto; /* Agrega scroll horizontal si es necesario */
  white-space: nowrap; /* Evita el salto de línea de los contenidos internos */
}

.cuadrante_1, .cuadrante_4{
  border-right: 2px solid black; /* Borde del elemento */
}

.cuadrante_4, .cuadrante_3 {
  border-top: 2px solid black; /* Borde del elemento */
}

.centrado_de_contenido { /* Establece reglas para elementos con la clase "centrado-en-panel" */
  display: flex; /* Utiliza flexbox para controlar el diseño */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos hijos */
}

.grafico_odontograma { /* Establece reglas para elementos con la clase "grafico_odontograma" */
  max-width: 1100px; /* Ancho máximo del elemento */
  overflow-x: auto; /* Agrega scroll horizontal si es necesario */
  white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

@media (min-width: 1100px) { /* Oculta los scroll cuando la pantallaes meyor */
  .grafico_odontograma, .cuadrante_1, 
  .cuadrante_2, .cuadrante_4, .cuadrante_3 {
    overflow-x: hidden;
  }
}

.contenedor_izquierdo {
  margin-right: 5px;
}

.contenedor_derecho {
  margin-left: -15px;
}