.pieza_dental { /* puede ser diente, muela, premolar, etc.*/
  position: static; /* Establece la posición del elemento */
  width: 65px; /* Ancho del elemento */
  height: 85px; /* Altura automática del elemento */
  display: inline-block; /* Muestra el elemento como un bloque en línea */
}

.plano_lateral {
  background-color: #FFFFFF; /* Color de fondo */
  border: 1px solid #7F7F7F; /* Borde del elemento */
  position: relative; /* Establece la posición del elemento */
  left: 28px !important;
  width: 20px; /* Ancho del elemento */
  height: 15px; /* Altura del elemento */
  border-radius: 5px 5px 0px 1px; /* Bordes redondeados */
}

.vestibular_superior, .vestibular_inferior, .lingual, .palatina {
  left: 28px !important; /* Posición izquierda del elemento */
}

.mesial_en_cuadrante_2, .mesial_en_cuadrante_3, .distal_en_cuadrante_1, .distal_en_cuadrante_4 {
  top: 1.1px !important; /* Posición superior del elemento */
  left: 11px !important; /* Posición izquierda del elemento */
  transform: rotate(270deg); /* Rotar el elemento */
}

.palatina, .vestibular_inferior {
  top: 3px !important; /* Posición superior del elemento */
  transform: rotate(180deg); /* Rotar el elemento */
}

.mesial_en_cuadrante_1, .mesial_en_cuadrante_4, .distal_en_cuadrante_2, .distal_en_cuadrante_3 {
  top: -28px !important; /* Posición superior del elemento */
  left: 44px !important; /* Posición izquierda del elemento */
  transform: rotate(90deg); /* Rotar el elemento */
}

.cara_incisal {
  background: #F3F3F3; /* Color de fondo */
  border: 1px solid #7F7F7F; /* Borde del elemento */
  width: 25px; /* Ancho del elemento */
  height: 25px; /* Altura del elemento */
  top: -48px; /* Posición superior del elemento */
  left: 25px; /* Posición izquierda del elemento */
  position: relative; /* Establece la posición del elemento */
  border-radius:10px; /* Bordes redondeados */
}

.plano_lateral:hover, .cara_incisal:hover {
  border: 1px solid rgb(34, 155, 84); /* Borde del elemento */  
  cursor: pointer; /* Cambiar el cursor al puntero */
}

.numero_etiqueta {
  margin-left: 28px;
  display: inline-block !important;
  border-radius: 10px !important;
  color: #fff;
  background-color: #17a2b8;
  padding: 0.25em 0.4em;
  font-size: 70%;
  font-weight: 600;
  line-height: 0.5;
}

.cuadrante_1, .cuadrante_2, .cuadrante_4, .cuadrante_3 {
  background-color: #f07f53;
  width: 550px;
  overflow-x: auto; /* Agrega scroll horizontal si es necesario */
  white-space: nowrap; /* Evita el salto de línea de los contenidos internos */
}

.cuadrante_1, .cuadrante_4{
  border-right: 2px solid black; /* Borde del elemento */
}

.cuadrante_4, .cuadrante_3 {
  border-top: 2px solid black; /* Borde del elemento */
}

.centrado_de_contenido { /* Establece reglas para elementos con la clase "centrado-en-panel" */
  display: flex; /* Utiliza flexbox para controlar el diseño */
  justify-content: center; /* Centra horizontalmente los elementos hijos */
  align-items: center; /* Centra verticalmente los elementos hijos */
}

.grafico_odontograma { /* Establece reglas para elementos con la clase "grafico_odontograma" */
  max-width: 1100px; /* Ancho máximo del elemento */
  overflow-x: auto; /* Agrega scroll horizontal si es necesario */
  white-space: nowrap; /* Evita que el contenido se divida en varias líneas */
}

@media (min-width: 1100px) { /* Oculta los scroll cuando la pantallaes meyor */
  .grafico_odontograma, .cuadrante_1, 
  .cuadrante_2, .cuadrante_4, .cuadrante_3 {
    overflow-x: hidden;
  }
}

.contenedor_izquierdo {
  margin-right: 5px;
}

.contenedor_derecho {
  margin-left: -15px;
}